{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-5"> {{ current_user.surname }} {{ current_user.name }}</h2>
    <h3 class="text-center mb-5">Ваши книги:</h3>
    <div class="row">
            {% for curr_book in books %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <a class="text-decoration-none" href="/book/{{ curr_book.id }}">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                <h5 class="card-title">{{ curr_book.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ curr_book.author }}</h6>
                                <p class="card-text">Жанр: {{ curr_book.genre }}</p>
                                <p class="card-text">Ограничение: {{ curr_book.age }}</p>
                                </div>
                                <div class="col-md-6 text-end">
                                <img class="img-fluid rounded" width="200" src="{{ url_for('static', filename=curr_book.cover) }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <a href="/logout" class="btn btn-outline-danger mt-4">Выйти из профиля</a>
        </div>
        <div class="col text-end">
            <a href="/check_take" class="btn btn-success mt-4">Посмотреть запросы</a>
        </div>
    </div>
{% endblock %}