{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-5"> {{ current_user.surname }} {{ current_user.name }}</h2>
    <h3 class="text-center mb-5">Ваши книги:</h3>
    {% for curr_book in books %}
            <a class="text-decoration-none" href="/book/{{ curr_book.id }}">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ curr_book.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ curr_book.author }}</h6>
                        <p class="card-text">Жанр: {{ curr_book.genre }}</p>
                        <p class="card-text">Ограничение: {{ curr_book.age }}</p>
                        <img width="200" src="{{ url_for('static', filename=curr_book.cover) }}">
                    </div>
                </div>
            </div>
            </a>
    {% endfor %}
    <a href="/logout" class="btn btn-outline-danger mt-4">Выйти из профиля</a>
{% endblock %}